body{

    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#navbarNav{

    margin-left: 68%;

}

.navbar a{
    
    color: white;    

}

.navbar a:hover{

    color: white;
    font-weight: bold;

}

.navbar a:active {

    color: white;
    font-weight: bold;

  }



.portafolio h2{

    text-align: center;
    border-bottom: 50%;
}

.iconos i{

    display: inline-block;
}

.iconos h6{

    display: inline-block;
}


.container-fluid h5{

    text-align: center;
    color:white;
    padding-top: 2%;
}


footer{

    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    line-height:50px;
}

footer img{

    width: 85px;
}
