body{

    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#navbarNav{

    margin-left: 68%;

}

.navbar a{
    
    color: white;    

}

.navbar img{
    
    width: 100%;   

}

.navbar a:hover{

    color: white;
    font-weight: bold;

}

.navbar a:active {

    color: white;
    font-weight: bold;

  }



.portafolio h2{

    text-align: center;
    border-bottom: 50%;
}

.aprendizaje h2{

    text-align: center;
    border-bottom: 50%;
}

.contacto h2{

    text-align: center;
    border-bottom: 50%;
}

.seccion-iconos {

    text-align: center;
    padding: 50px;
    color: #FFFFFF;
}

.iconos {

    display: inline-block;
    width: 20%;
}

.iconos p {

    font-size: 30px;
    font-weight: 300;
}

.seccion-iconos h2 {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 2em;
}


.container-fluid h5{

    text-align: center;
    color:white;
    padding-top: 2%;
}


footer{

    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    line-height:50px;
}

footer img{

    width: 85px;
}
